@media screen and (max-width: 500px) {
    .formBox, .divBox {
        width: calc(100vw - 60px) !important;
        height: calc(100dvh - 60px) !important;
        margin: unset;
        padding: 10px !important;
    }

    .App {
        min-height: unset;
        height: 100dvh !important;
    }

    .submitButton {
        bottom: 5%;
        width: calc(100% - 20px);
    }

    .statsQ {
        padding: 3px !important;
    }

    .info {
        padding: 3.5px !important;
        font-size: 10px !important;
        max-width: 100px;
    }

    .questionL {
        font-size: 13px !important;
        margin-top: 15% !important;
        max-height: 70px;
        overflow: auto;
    }

    .grid {
        all: unset;
        display: flex;
        flex-direction: column;
        gap: 1.9vh;
    }

    .divQ {
        all: unset;
        margin-top: 4vh;
        max-height: 210px;
        overflow: auto;
    }

    .grid-item {
        padding: 5px !important;
        font-size: 11px;
    }

    h3 {
        margin-top: 10px !important;
        font-size: 17px !important;
    }

    .row {
        all: unset;
        display: flex;
        align-items: center;
        justify-content:space-around;
        font-size: 13px !important;
    }

    .circle {
        width: 43px !important;
        height: 43px !important;
        font-size: 10px !important;
    }

    .numberField {
        font-size: 10px;
    }

    .selectField {
        height: 25.5px;
        font-size: 10px;
    }

    .submitButton {
        font-size: 12px !important;
    }

    .next_button {
        font-size: 10px !important;
    }

}
